{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='gamepage.css') }}">
</head>
<body>
  <div class="jumbo">
    
    <h1>Jumper!</h1>
    <h2>Welcome to our games home page.<h2>
    <canvas></canvas>
  </div>

  <audio id="audio" autoplay loop>
    <source src="{{ url_for('static', filename='mp3/Jumper_theme.mp3') }}" type="audio/mpeg">
  </audio>

  <button id="pause-btn">Pause</button>
  <div id="pause-overlay" style="display:none;">
    <div id="pause-menu" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px; text-align: center;">
      <div style="display: flex; justify-content: space-between;">
        <button id="resume-btn">Resume</button>
        <button id="main-menu-btn" onclick="location.href='http://127.0.0.1:5000'" style="float: right;">Main Menu</button>
      </div>
      <h2 style="margin-top: 20px;">Volume</h2>
      <input type="range" id="volume-slider" min="0" max="100" value="50" step="1" style="margin-top: 10px;">
    </div>
    

  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <script>
    var pauseBtn = document.getElementById('pause-btn');
    var pauseOverlay = document.getElementById('pause-overlay');
    var resumeBtn = document.getElementById('resume-btn');
    var canvas = document.querySelector('canvas');
    var audio = document.getElementById('audio');

    pauseBtn.addEventListener('click', pauseGame);
    resumeBtn.addEventListener('click', resumeGame);

    document.addEventListener('keydown', function(event) {
      if (event.key === 't' || event.key === 'T') {
        pauseGame();
      }
      if (event.key === 'r' || event.key === 'R') {
        resumeGame();
      }
      
      var volumeSlider = document.getElementById('volume-slider');
      volumeSlider.addEventListener('input', function() {
        var volume = volumeSlider.value / 100; // convert the slider value to a float between 0 and 1
        audio.volume = volume; // set the audio element's volume property
      });
    });

    function pauseGame() {
      pauseOverlay.style.display = 'block';
      canvas.style.filter = 'blur(5px)';
      //game pause logic in index.js file
    }

    function resumeGame() {
      pauseOverlay.style.display = 'none';
      canvas.style.filter = 'none';
      //game resume logic in index.js file
    }
  </script>

  <audio id="jump-sfx" preload="auto">
    <source src="mp3/jump_sfx.mp3" type="audio/mpeg">
  </audio>


  
</body>
</html>
{% endblock %}
