.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 50%;
    animation: sparkle 1s ease-in-out infinite;
  }
  
  @keyframes sparkle {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0.5;
      transform: scale(1);
    }
  }
  